<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.thingsbook.it"
  android:versionCode="1"
  android:versionName="1.0">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" /> 
  <uses-permission android:name="android.permission.NFC"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-feature android:name="android.hardware.camera"
                android:required="true" />
  <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
<application 
  android:name=".TingApp"
  android:icon="@drawable/itlogo"
  android:label="@string/app_name"
  android:theme="@android:style/Theme.Holo.Light">

  <!-- Home activity displays all the user's Tings -->
    <activity android:name=".MainActivity"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- Clone a remote repository when a Ting formatted Mifare tag is detected -->
    <activity
      android:name=".CloneRepositoryActivity"
      android:label="@string/title_activity_clone_repository"
      android:parentActivityName=".MainActivity" >
      <intent-filter>
        <action android:name="android.nfc.action.TECH_DISCOVERED"/>
      </intent-filter>
      <meta-data android:name="android.nfc.action.TECH_DISCOVERED" 
        android:resource="@xml/filter_nfc"/>
        <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity" />
    </activity>

    <!-- Show a Ting's profile once its clicked in the grid of all other Tings -->
    <activity
      android:name=".ThingProfileActivity"
      android:label="@string/title_activity_display_thing"
      android:parentActivityName=".MainActivity" >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity" />
    </activity>

    <!-- Initiate a new user-created Ting -->
    <activity
      android:name=".TakePictureActivity"
      android:label="@string/title_activity_take_picture"
      android:parentActivityName=".MainActivity">
        <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity" />
    </activity>
    <activity
      android:name=".CreateTingActivity"
      android:label="@string/title_activity_create_ting"
      android:parentActivityName=".TakePictureActivity">
        <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".TakePictureActivity" />
    </activity>
</application>
</manifest>
